<div class="container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-center">Add New Product</h5>
    </div>
    <div class="card-body">
      <form class="form" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Title</label>
          <input type="text" name="title" id="producTitle" class="form-control" required="required" />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea name="description" id="producDescription" class="form-control" rows="5" required="required"></textarea>
        </div>
        <div class="form-group">
          <label>Price</label>
          <input type="number" name="price" id="producPrice" class="form-control" required="required" min="1" />
        </div>
        <div class="form-group">
          <label>Discounted Price</label>
          <input type="number" name="discountedPrice" id="producDiscountedPrice" class="form-control" />
        </div>
        <div class="form-group">
          <label>Inventory</label>
          <input type="number" name="inventory" id="producInventory" class="form-control" />
        </div>
        <div class="form-group">
          <label>Product Image</label>
          <div class="custom-file">
            <input type="file" name="productImage" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Upload Product Image</label>
          </div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Save Product</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>